<h1>Boards#index</h1>
<p>Find me in app/views/boards/index.html.erb</p>
<% @messages.each do |m| %>
    <div>
      <div><%= raw m[:body][:rich] %></div>
      <div><%= l parse_time(m[:created_at]) %></div>
    </div>
<% end %>
